@import "tailwindcss";  
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Customize react-slick dots */
.slick-dots li button:before {
  color: #790da3 !important;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #790da3 !important;
  opacity: 1;
}

/* @import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
